body {
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#site_header {
   background-color: #F6F6F6;
   background-image: none;
   border: 0px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   display: table;
   margin-left: auto;
   margin-right: auto;
   max-width: 1280px;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#header {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 5px 15px 5px 15px;
}
#header .row {
   margin-left: -15px;
   margin-right: -15px;
}
#header .col-1,
#header .col-2,
#header .col-3 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#header .col-1,
#header .col-2,
#header .col-3 {
   float: left;
}
#header .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 16.66666667%;
}
#header .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 16.66666667%;
}
#header .col-3 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 66.66666667%;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after {
   content: " ";
   display: table;
}
#header:after,
#header .row:after {
   clear: both;
}
@media (max-width: 1023px) {
#header .col-1,
#header .col-2,
#header .col-3 {
   float: none;
   width: 100%;
}
}
#site_name {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 25px 0px 0px 0px;
   text-align: left;
}
#site_name div {
   text-align: left;
}
#site_hit {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: url(../images/index_hit_bkgrnd.png);
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#hit {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 40px 15px 0px 15px;
}
#hit .row {
   margin-left: -15px;
   margin-right: -15px;
}
#hit .col-1 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#hit .col-1 {
   float: left;
}
#hit .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 100%;
}
#hit:before,
#hit:after,
#hit .row:before,
#hit .row:after {
   content: " ";
   display: table;
}
#hit:after,
#hit .row:after {
   clear: both;
}
@media (max-width: 1023px) {
#hit .col-1 {
   float: none;
   width: 100%;
}
}
#site_form_txt {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: center;
}
#site_form_txt div {
   text-align: center;
}
#site_form_add {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#form_add {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 40px 15px 0px 15px;
}
#form_add .row {
   margin-left: -15px;
   margin-right: -15px;
}
#form_add .row .col-1,
#form_add .row .col-2 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#form_add .row .col-1,
#form_add .row .col-2 {
   float: left;
}
#form_add .row .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 50%;
}
#form_add .row .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: center;
   width: 50%;
}
#form_add:before,
#form_add:after,
#form_add .row:before,
#form_add .row:after {
   content: " ";
   display: table;
}
#form_add:after,
#form_add .row:after {
   clear: both;
}
@media (max-width: 1023px) {
#form_add .row .col-1,
#form_add .row .col-2 {
   float: none;
   width: 100%;
}
}
#Editbox1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border-radius: 4px;
   box-sizing: border-box;
   color: #000000;
   font-family: "Roboto Light";
   font-size: 16px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox1:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Editbox2 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border-radius: 4px;
   box-sizing: border-box;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Editbox2:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#site_Text3 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text3 div {
   text-align: left;
}
#site_Text4 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text4 div {
   text-align: left;
}
#site_Text5 {
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   margin: 0;
   padding: 0;
   text-align: left;
}
#site_Text5 div {
   text-align: left;
}
#Button1 {
   background-color: #FF4500;
   background-image: none;
   border: 0px #2E6DA4 solid;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: "Roboto Medium";
   font-size: 17px;
   font-weight: normal;
}
#site_LayoutGrid5 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background-color: #F6F6F6;
   background-image: none;
   border: 0px #CCCCCC solid;
   box-sizing: border-box;
   clear: both;
   display: table;
   position: relative;
   table-layout: fixed;
   text-align: center;
   width: 100%;
}
#LayoutGrid5 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin-left: auto;
   margin-right: auto;
   padding: 40px 15px 40px 15px;
}
#LayoutGrid5 .row {
   margin-left: -15px;
   margin-right: -15px;
}
#LayoutGrid5 .col-1,
#LayoutGrid5 .col-2,
#LayoutGrid5 .col-3 {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}
#LayoutGrid5 .col-1,
#LayoutGrid5 .col-2,
#LayoutGrid5 .col-3 {
   float: left;
}
#LayoutGrid5 .col-1 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 8.33333333%;
}
#LayoutGrid5 .col-2 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 25%;
}
#LayoutGrid5 .col-3 {
   background-color: transparent;
   background-image: none;
   text-align: left;
   width: 66.66666667%;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after {
   content: " ";
   display: table;
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after {
   clear: both;
}
@media (max-width: 480px) {
#LayoutGrid5 .col-1,
#LayoutGrid5 .col-2,
#LayoutGrid5 .col-3 {
   float: none;
   width: 100%;
}
}
#site_Image2 {
   vertical-align: top;
}
#Image2 {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   height: 411px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 361px;
}
#TextArea1 {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   border-radius: 4px;
   box-sizing: border-box;
   color: #000000;
   font-family: "Roboto Light";
   font-size: 16px;
   font-weight: normal;
   overflow: auto;
   padding: 4px 4px 4px 4px;
   resize: none;
   text-align: left;
}
#TextArea1:focus {
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#site_menu {
   display: block;
   text-align: left;
   width: 100%;
}
#menu {
   background-color: #F6F6F6;
   height: 69px;
}
#site_menu ul {
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#site_menu ul:after {
   clear: both;
   content: "";
   display: block;
}
#site_menu ul li {
   background-color: #F6F6F6;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#site_menu ul li i {
   font-size: 0px;
   width: 0px;
}
#site_menu ul li a {
   color: #4F4F4F;
   font-family: "Roboto Medium";
   font-size: 19px;
   font-style: normal;
   font-weight: normal;
   padding: 30px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
#site_menu > ul > li > a {
   height: 24px;
}
.menu a {
   display: block;
}
#site_menu li a:hover,
#site_menu li .active {
   background-color: #F6F6F6;
   color: #2774A5;
}
#site_menu ul ul {
   display: none;
   position: absolute;
   top: 69px;
}
#site_menu ul li:hover > ul {
   display: list-item;
}
#site_menu ul ul li {
   background-color: #7A7A7A;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 105px;
}
#site_menu ul ul li a:hover,
#site_menu ul ul li .active {
   background-color: #CCCCCC;
   color: #424242;
}
#site_menu ul ul li i {
   margin-right: 0px;
   vertical-align: middle;
}
#site_menu ul ul li a {
   color: #FFFFFF;
   padding: 15px 20px 15px 20px;
   text-align: left;
   vertical-align: middle;
}
#site_menu ul ul ul li {
   left: 105px;
   position: relative;
   top: -69px;
}
#site_menu .arrow-down {
   border-bottom: 0 dotted;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   border-top: 4px solid #4F4F4F;
   display: inline-block;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   width: 0;
}
#site_menu .arrow-left {
   border-bottom: 4px solid transparent;
   border-left: 4px solid #FFFFFF;
   border-right: 0 dotted;
   border-top: 4px solid transparent;
   display: inline-block;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   width: 0;
}
#site_menu li a:hover .arrow-down {
   border-top-color: #2774A5;
}
#site_menu ul ul li a:hover .arrow-left,
#site_menu ul ul li .active .arrow-left {
   border-left-color: #424242;
}
#site_menu .toggle,
[id^=menu-submenu] {
   display: none;
}
@media all and (max-width:768px) {
#site_menu {
   margin: 0;
   text-align: left;
}
#site_menu ul li a,
#site_menu .toggle {
   font-size: 19px;
   font-style: normal;
   font-weight: normal;
   padding: 15px 20px 15px 20px;
}
#site_menu .toggle + a {
   display: none  !important;
}
.menu {
   display: none;
   z-index: 9999;
}
#menu {
   background-color: transparent;
}
#site_menu > ul > li > a {
   height: auto;
}
#site_menu .toggle {
   background-color: #F6F6F6;
   border: none;
   color: #4F4F4F;
   display: block;
   line-height: 30px;
   padding: 0px 20px 0px 20px;
   text-decoration: none;
}
#site_menu .toggle:hover {
   background-color: #F6F6F6;
   color: #2774A5;
}
[id^=menu-submenu]:checked + ul {
   display: block  !important;
}
#menu-title {
   height: 69px;
   line-height: 69px  !important;
   text-align: center;
}
#site_menu ul li {
   display: block;
   width: 100%;
}
#site_menu ul ul .toggle,
#site_menu ul ul a {
   padding: 0 40px;
}
#site_menu a:hover,
#site_menu ul ul ul a {
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#site_menu ul li ul li .toggle,
#site_menu ul ul a {
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#site_menu ul ul ul a {
   padding: 15px 20px 15px 60px;
}
#site_menu ul li a {
   text-align: left;
}
#site_menu ul li a br {
   display: none;
}
#site_menu ul li i {
   margin-right: 0px;
}
#site_menu ul ul {
   float: none;
   position: static;
}
#site_menu ul ul li:hover > ul,
#site_menu ul li:hover > ul {
   display: none;
}
#site_menu ul ul li {
   display: block;
   width: 100%;
}
#site_menu ul ul ul li {
   position: static;
}
#menu-icon {
   display: block;
   left: 30px;
   position: absolute;
   top: 22px;
}
#menu-icon span {
   background-color: #4F4F4F;
   color: #4F4F4F;
   display: block;
   height: 2px;
   margin-top: 4px;
   width: 24px;
}
#site_menu ul li ul li .toggle:hover {
   background-color: #CCCCCC;
   color: #424242;
}
#site_menu .toggle .arrow-down {
   border-top-color: #4F4F4F;
}
#site_menu .toggle:hover .arrow-down,
#site_menu li .active .arrow-down {
   border-top-color: #2774A5;
}
#site_menu ul li ul li .toggle .arrow-down {
   border-top-color: #FFFFFF;
}
#site_menu ul li ul li .toggle:hover .arrow-down,
#site_menu ul li ul li .active .arrow-down {
   border-top-color: #424242;
}
}
#site_logo {
   vertical-align: top;
}
#logo {
   border: 0px #000000 solid;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   height: 109px;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   width: 138px;
}
#Editbox1 {
   display: block;
   height: 46px;
   line-height: 46px;
   margin-bottom: 15px;
   width: 100%;
   z-index: 4;
}
#site_uid1 {
   color: #FFFFFF;
   font-family: Roboto Light;
   font-size: 37px;
}
#Editbox2 {
   display: block;
   height: 46px;
   line-height: 46px;
   margin-bottom: 30px;
   width: 100%;
   z-index: 8;
}
#site_uid2 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 20px;
}
#site_uid3 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 20px;
}
#site_uid4 {
   color: #FFFFFF;
   font-family: Roboto;
   font-size: 20px;
}
#site_Image2 {
   display: inline-block;
   height: 411px;
   width: 361px;
   z-index: 10;
}
#TextArea1 {
   display: block;
   height: 100px;
   margin-bottom: 15px;
   width: 100%;
   z-index: 6;
}
#site_logo {
   display: inline-block;
   height: 109px;
   width: 138px;
   z-index: 0;
}
#site_menu {
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#Button1 {
   cursor: pointer;
   display: inline-block;
   height: 64px;
   width: 248px;
   z-index: 9;
}
#site_uid0 {
   color: #2B86BE;
   font-family: Roboto;
   font-size: 24px;
}
