a {
    color: #FF4500;
    text-decoration: underline;
}
a:visited {
    color: #FF4500;
}
a:active {
    color: #FF4500;
}
a:hover {
    color: #FF4500;
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
}
.content {
    min-height: calc(100vh - 80px);
}
#site_uid1{
    text-shadow: 1px 1px 2px rgba(12, 12, 12, 1);
}

#site_header{
    min-width: 100%;
}
#header{
    max-width: 1280px;
}

#site_hit{
    min-width: 100%;
}
#hit{
    max-width: 1280px;
}
#navi, #form_reg{
    max-width: 1280px;
}

#form_reg .col-1,
#form_reg .col-2 {
    font-size: 20px;
    color: #0000FF;
}